@page
@model NotesWebApp.Pages.Notes.AllNotesModel
@{
    ViewData["Title"] = "All Notes";
}

<article>
    <section>
        <header>
            <h3>All Notes</h3>
        </header>

        <div class="note-grid">
            @if(Model.NoteList is not null)
            {
                @foreach (var note in Model.NoteList)
                {
                    <a href="#">
                        <div class="note-grid-container">
                            <div class="note-title">@note.Title</div>
                            <p class="note-content">@note.Content</p>
                        </div>
                    </a>
                }
            }
            <a href="#" class="create-new-note">
                <div>
                    Add New Note
                </div>
            </a>
        </div>

    </section>
</article>