@page
@model NotesWebApp.Pages.Notes.AllNotesModel
@{
    ViewData["Title"] = "All Notes";
}

<article>
    <section>
        <header>
            <h3>All Notes</h3>
        </header>
        @if(Model.notes is null)
        {
            <p>No notes available to display</p>
        }
        else
        {
            <ul>
                @foreach(var note in Model.notes)
                {
                    <li>@note.ToString()</li>
                }
            </ul>
        }

    </section>
</article>