@page "{id:int?}"
@model NotesWebApp.Pages.Notes.EditNoteModel
@{
    ViewData["Title"] = "All Notes";
}

<article class="edit-note">
    <header>
        <a asp-page="/Notes/AllNotes">
            <h2>Home</h2>
        </a>
    </header>
    <section>
        <header>
            <h3>Edit Note</h3>
        </header>

        @if(Model.InValidInputModel)
        {
            <p>Invalid Properties, Please provide correct Note properties</p>
        }
        else if (Model.InputModelIsNullForPostRequest)
        {
            <p>Internal Error, Please try again</p>
        }
        else if (Model.NoteFailedToUpdate)
        {
            <p>Note Failed to updated, Please try again</p>
        }


        @if (Model.NoteIDIsNull)
        {
            <p>No Note ID provided, Note ID is required to edit a note.</p>
        }
        else if (Model.NoteIDDoesNotExits)
        {
            <p>Note with ID : @Model.NoteIDFromRoute does not Exists</p>
        }
        else if (Model.Input is not null)
        {
            <form method="post">
                <input asp-for="Input.ID"  value="@Model.Input.ID" hidden/>
                
                <div>
                    <label asp-for="Input.Title"></label>
                    <input asp-for="Input.Title" />
                    <span asp-validation-for="Input.Title"></span>
                </div>


                <div>
                    <label asp-for="Input.Content"></label>
                    @* <input asp-for="Input.Content" /> *@
                    <textarea asp-for="Input.Content"></textarea>
                </div>
                

                <button type="submit">Save</button>
            </form>
        }
        else
        {
            <p>There was an error while loading this Note</p>
        }

    </section>
</article>