html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


/* Home Page */

.CustomLink a {
    display: block;
    border: solid 1px;
    border-radius: 10px;
    background-color: lightgray;
    text-align: center;
    text-decoration: none;
    color: black;
    /*min-height: 100%;
    min-width: 100%;*/
}

    .CustomLink a:hover {
        background-color: whitesmoke;
    }


.AddItemLink a {
    width: 130px;
    background-color: lightgreen;
}

    .AddItemLink a:hover {
        background-color: #77dd77;
    }


.DeleteItemLink a {
    background-color: lightcoral; 
}

    .DeleteItemLink a:hover {
        background-color: #ff5349;
    }




/* Add Item Page */

.SaveButton {
    display: block;
    border: solid 1px;
    border-radius: 10px;
    padding: 0.5em 0.8em;
    background-color: lightgreen;
}

    .SaveButton:hover {
        background-color: #00cd00;
    }


/* DeleteConfirmation */

.DeleteConfirmation {
    display: flex; 
    flex-direction:row; 
}

.DeleteConfirmation form {
    margin-right: 100px; 
}