@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<article>
    <section>
        <header>
            <h2>Home</h2>
        </header>
        <p>Anyone can visit home page of the website</p>
    </section>
</article>