@page
@model ShoppingList.Pages.AddItemModel
@{
    ViewData["Title"] = "Add Item";
}

<article>

    <section>

        @if(Model.ItemFailedToSaved is bool notSaved)
        {
            if (notSaved)
            {
                <p class="text-danger">Item Failed to save, Please Try Again.</p>
            }
        }

        <form asp-page="AddItem">
            
            <header>
                <h3>Add Item to Shopping List</h3>
            </header>

            <p class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name"></span>
            </p>

            <p class="form-group">
                <label asp-for="Input.Description"></label>
                <input asp-for="Input.Description" class="form-control" />
                <span asp-validation-for="Input.Description"></span>
            </p>

            <p class="form-group">
                <label asp-for="Input.Quantity"></label>
                <input asp-for="Input.Quantity" class="form-control" />
                <span asp-validation-for="Input.Quantity"></span>
            </p>

            <p>
                <button type="submit" class="SaveButton">Save</button>
            </p>

        </form>

    </section>

</article>

