@page "{id:int?}"
@model ShoppingList.Pages.ItemInfoModel
@{
    ViewData["Title"] = "Item Details";
}

<article>
    <section>
        <header>
            <h2>Shopping Item Details</h2>
        </header>

        @if (Model.NoIDProvided)
        {
            <p>Item ID is required to see the detials, No Item ID provided.</p>
        }
        else if(Model.ItemInfo is null)
        {
            <p>Item with ID : @Model.RequestedItemID does not exists.</p>
        }
        else
        {
            <partial name="_ItemInfoPartialView" model="Model.ItemInfo" />
        }
    </section>
</article>
